.container button{
    position: relative;
   
    
}
.foodlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    margin-left: 80px;
    
    
}
.container{
    width: 80%;
}
