.foods-container {
    border: solid 2px purple;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    width: 250px;
    text-align: center;
    height: 50vh;
    margin-top: 100px;
    color: orange;
    

}
.foods-container .list{
    line-height: 3em;
}