.form h3{
    color: purple;
   position: relative;
   left: 550px;
   top: 50px;

}
.addNewfood{
    line-height: 2em;
 
}
.addNewfood{
    position: relative;
    left: 500px;
    margin-top: 50px;
}
.addNewfood fieldset{
    width: 250px;
    text-align: center;
    height: 33vh;
    border: solid 2px purple;
    background-color: lightgreen;
    
}