.container{
    width: 100%;
    margin: auto;

}
.wrapper{
    display: flex;
    justify-content: space-between;
    border: solid 3px purple;
    margin-bottom: 15px;
    background-color: lightblue  ;
    

}
.nav-bar a{
    text-decoration: none;
   position: relative;
   right: 100px;
   bottom: 8px;

   
}
a:hover{
    color: orange;
}
.logo{
    font-size: 30px;
    color: orange;
    align-items: center;
    position: relative;
    top: 33px;
}
.nav-bar{
    padding: 20px;
    margin-top: 32px;
    font-size: 25px;
    align-items: center;
}
.nav{
    color: purple;
    padding: 25px;
}
.logo h2{
    position: relative;
    left: 100px;
    bottom: 3px;
   
}
ul{
    list-style: none;
}
.nav-bar li{
    display: inline-block;
}