/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  padding: 0;
  margin: 0;
}
body{
  background-color: lightgray;
  font-weight: 600;
}
button{
  padding: 5px;
}
/* form{
  border: solid 5px purple;
  width: auto;
  width: 40vh;
  height: 30vh;
  line-height: 2.5em;
  position: relative;
  left: 500px;
  
} */
label{
color: orange; 
font-size: medium;

}
 button{
  color: orange;
  font-weight: 600;
  background-color: purple;
 }
 form{
  line-height: 2em;
  align-items: center;
 }